<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.field.widget.input_type == 'checkbox' %}
        <label class="sms-checkbox-row" for="{{ field.id_for_label }}">
            {{ field }}
            <span>
                <strong>{{ field.label }}</strong>
                {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
            </span>
        </label>
    {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}<small class="form-help">{{ field.help_text }}</small>{% endif %}
    {% endif %}

    {% for error in field.errors %}
        <div class="form-error">{{ error }}</div>
    {% endfor %}
</div>
